set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8

if test -d /usr/local/share/android-sdk
  set -x ANDROID_SDK_ROOT /usr/local/share/android-sdk
end

if command -q moor
  set -x PAGER moor
else if command -q less
  set -x PAGER less
end

if command -q nvim
  set -x EDITOR nvim
else if command -q code
  set -x EDITOR "code -w"
end

if command -q gh
  set -l github_token (gh auth token </dev/null 2>/dev/null)
  if test -n "$github_token"
    set -x GITHUB_TOKEN "$github_token"
  end
end

{{ if eq .chezmoi.os "darwin" -}}
if test -f '/Users/takuji31/google-cloud-sdk/path.fish.inc'
  source '/Users/takuji31/google-cloud-sdk/path.fish.inc'
end
{{- end }}

if command -q starship
  starship init fish | source
end

if test -f $HOME/.fishconfig_local.fish
  source $HOME/.fishconfig_local.fish
end
