set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8

if test -d /usr/local/share/android-sdk
  set -x ANDROID_SDK_ROOT /usr/local/share/android-sdk
end

set -x PAGER less
set -x ENABLE_TOOL_SEARCH true
set -x MYSQL_PS1 '\U DB:\d DATE: \D MySQL: \v  \n>\_'

if command -q nvim
  set -x EDITOR nvim
else if command -q code
  set -x EDITOR "code -w"
end

{{ if eq .chezmoi.os "darwin" -}}
if test -f '/Users/takuji31/google-cloud-sdk/path.fish.inc'
  source '/Users/takuji31/google-cloud-sdk/path.fish.inc'
end
{{- end }}

if command -q starship
  starship init fish | source
end

if test -f $HOME/.fishconfig_local.fish
  source $HOME/.fishconfig_local.fish
end

{{ if eq .chezmoi.os "linux" }}
  {{ if .chezmoi.kernel.osrelease | contains "microsoft" -}}
    set -x GTK_IM_MODULE fcitx
    set -x QT_IM_MODULE fcitx
    set -x XMODIFIERS @im=fcitx
    set -x DefaultIMModule fcitx

    if not pgrep -x fcitx5 > /dev/null
        DISPLAY=:0 fcitx5 -d --replace --disable=wayland &> /dev/null &
    end
  {{- end }}
{{ end }}
