{{ if eq .chezmoi.os "darwin" -}}
if test -f /opt/homebrew/bin/brew
    eval (/opt/homebrew/bin/brew shellenv)
end
{{- else if eq .chezmoi.os "linux" -}}
if test -d /home/linuxbrew/.linuxbrew/bin
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

if test -d "$HOME/.turso"
    fish_add_path "$HOME/.turso"
end

add_path /usr/local/bin
add_path $HOME/.composer/vendor/bin/
add_path $HOME/local/bin
add_path $HOME/.local/bin
add_path $HOME/bin
add_path $HOME/flutter/bin

{{ if eq .chezmoi.os "darwin" -}}
add_path /Applications/MacVim.app/Contents/MacOS
add_path /usr/local/share/android-sdk/bin
add_path /usr/local/share/android-sdk/tools
add_path /usr/local/share/android-sdk/tools/bin
add_path /usr/local/share/android-sdk/build-tools
add_path /usr/local/share/android-sdk/platform-tools/
{{- end }}

