{{ if eq .chezmoi.os "darwin" -}}
if test -f /opt/homebrew/bin/brew
    eval (/opt/homebrew/bin/brew shellenv)
end
{{- else if eq .chezmoi.os "linux" -}}
if test -d /home/linuxbrew/.linuxbrew/bin
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

if test -d "$HOME/.turso"
    fish_add_path -g "$HOME/.turso"
end

fish_add_path -g /usr/local/bin
fish_add_path -g $HOME/local/bin
fish_add_path -g $HOME/.local/bin
fish_add_path -g $HOME/bin

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path -g /usr/local/share/android-sdk/cmdline-tools/latest/bin
fish_add_path -g /usr/local/share/android-sdk/platform-tools
{{- end }}

